body{
    color: white;
    font-family: 'Poppins' serif;
}
header{
    width: 100%;
    height: auto;
    padding-top: 20px;
    background: url("images/background.jpg");
    background-size: cover;
}
.address{
    background-color: #FFAD01;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.add-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}