body{
    color: white;
}
header{
    width: 100%;
    height: auto;
    padding-top: 200px;
    background: url("images/background.jpg");
    background-size: cover;
}
.address{
    background-color: #FFAD01;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}